.PriceContainer {
  background-color: hsl(0, 0%, 100%);
  width: 90%;
  position: absolute;
  margin: 50% 0% 0% 0%;
  padding: 0% 0% 8% 0%;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 8%);
  display: flex;
  flex-direction: column;
}

.UpperSection {
  margin: 8% 8% 0% 8%;
}

.PriceSummary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0% 0% 8% 0%;
}

.Cost {
  padding: 6% 0% 0% 0%;
}

.Billing {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 6% -10% 12% 0%;
}

.DownSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid hsl(224, 65%, 95%);
}

.List {
  text-align: center;
  list-style-image: url("../images/icon-check.svg");
  margin: 8% 0% 6% 0%;
}

.ListItem {
  margin: 0% 0% 8% -12%;
}

.Button {
  background-color: hsl(227, 35%, 25%);
  color: hsl(230, 100%, 99%);
  font-weight: bold;
  padding: 3% 0% 3% 0%;
  border-radius: 20px;
  width: 50%;
  cursor: pointer;
}

.CommonText {
  color: hsl(225, 20%, 60%);
  font-weight: bold;
}

.SmallCommonText {
  font-size: small;
}

.xxLargeCommonText {
  font-size: xx-large;
  color: hsl(227, 35%, 25%);
}

.ExpandedCommonText {
  font-stretch: expanded;
  margin: 2%;
  letter-spacing: 1px;
}

.Discount {
  color: hsl(15, 100%, 70%);
  font-size: x-small;
  background-color: hsl(14, 92%, 95%);
  border-radius: 20px;
  padding: 1% 2% 1% 2%;
  margin: 0% 0% 0% -3%;
}

.DesktopPricing {
  display: none;
}

.MobilePricing {
  display: contents;
}

.DesktopDiscount {
  display: none;
}

.MobileDiscount {
  display: contents;
}

@media (min-width: 530px) {
  .PriceContainer {
    width: 35%;
    height: 40%;
    margin: 16% 0% 0% 0;
  }

  .PriceSummary {
    flex-direction: row;
  }

  .Billing {
    margin: 6% -4% 8% 25%;
  }

  .DesktopPricing {
    display: contents;
  }
  .MobilePricing {
    display: none;
  }

  .DesktopDiscount {
    display: contents;
  }
  .MobileDiscount {
    display: none;
  }

  .DownSection {
    flex-direction: row;
    justify-content: space-around;
  }

  .List {
    text-align: left;
  }

  .Button {
    width: 35%;
    padding: 2% 0% 2% 0%;
  }
}
