.PriceContainer {
  background-color: hsl(0, 0%, 100%);
  width: 30%;
  padding: 0% 0% 15% 0%;
  position: absolute;
  z-index: 2;
  margin: 14% 20% 0% 0%;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 8%);
}

.UpperSection {
  margin: 8% 8% 8% 8%;
}

.PriceSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Billing {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0% 0% 0% 25%;
}
